name: CI

on:
  push:
    branches: [development, production]
  pull_request:
    branches: [production]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10


    env:
      NODE_ENV: test
      MONGODB_URI: ${{ secrets.MONGODB_URI_CI }}
      MONGODB_URI_CI: ${{ secrets.MONGODB_URI_CI }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test

      - name: Run Integration Tests
        run: npm run test:int

